body {
  background-color: rgb(249, 244, 244);
}

a {
  color: rgb(249, 80, 80);
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App footer {
  text-align: center;
  margin: 30px auto;
}

